* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  max-width: 1000px;
}

h1 {
  letter-spacing: 1px;
  margin: 2rem 0 1rem;
}

.register {
  background-color: white;
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 16rem;
  width: 22rem;
}

.box,
.clr,
.run-true,
.run-false,
.nxt,
.debug-false,
.debug-true {
  align-items: center;
  background-color: #bbb;
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
}

.clr,
.run-true,
.debug-true,
.nxt {
  background-color: #ccc;
  cursor: pointer;
}

.clr {
  color: red;
}

.run-true {
  color: green;
}

.run-false {
  color: #ddd;
}

.debug-false {
  color: #ddd;
  cursor: pointer;
}

.debug-true,
.nxt,
.yellow {
  color: yellow;
}

.console,
.err,
.success,
.next-line {
  background-color: #ccc;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  height: 1rem;
  letter-spacing: 1px;
  margin: 2px 0 2px;
  padding: 1em 2rem;
  text-align: center;
  width: 18rem;
}

.red {
  color: red;
}

.success,
.green {
  color: green;
}

.next-line {
  color: white;
}

.code {
  background-color: #bbb;
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
  padding: 0 5px;
}

.interpreter,
.debugger {
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
  height: 16em;
  margin-bottom: 2em;
  outline: 0;
  overflow: auto;
  padding: 1rem;
  resize: none;
  width: 20rem;
}

.interpreter-hide {
  display: none;
}

.interpreter-show {
  display: block;
}

.debugger-hide {
  display: none;
}

.debugger-show {
  display: block;
}

.command-list {
  list-style: none;
  font-family: 'Source Code Pro', monospace;
  font-size: 16px;
}
.command-list-element-opaque {
  color: rgba(90, 90, 90, 0.5);
}

.command-list-element-highlight {
  color: white;
}

.command-list-element-success {
  color: green;
}

.command-list-element-error {
  color: red;
}
